<!DOCTYPE html>
<html>
<!--<%= Time.now %>-->
  <head>
    <title>Cloverleaf Dashboard</title>
    <!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/css/lights.css" rel="stylesheet">
  </head>
  <body>
	  <div class="navbar">
	    <div class="navbar-inner">
	      <a class="brand" href="#">Cloverleaf Dashboard</a>
	      <ul class="nav">
			  <li class="divider-vertical"></li>
	        <li><a href="lights">Lights</a></li>
			<li class="divider-vertical"></li>
	        <li><a href="sensors">Sensors</a></li>
			<li class="divider-vertical"></li>
	        <li><a href="blinds">Blinds</a></li>
			<li class="divider-vertical"></li>
			<li><a href="settings">Settings</a></li>
			<li class="divider-vertical"></li>
	      </ul>
	    </div>
	  </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<div class="row">
		<div class="span12">
			<div class="btn-lights">
				<table class="table table-striped">
					<thead>
					
					</thead>
					
					<tbody>
<div class="jumbotron">
  <h1>Cloverleaf Dashboard</h1>
  <p>Click on the button below button to get started.</p>
  <p><a href="lights" class="btn btn-primary btn-large" role="button">Lights</a></p>
</div>
					</tbody>
	  </div>
  </div>
  <div>
  </body>
</html>
