	<!DOCTYPE html>
<html>
<link href="/css/cloverleaf.css" rel="stylesheet">
<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
  <head>
    <title>Cloverleaf Dashboard</title>
  </head>

    
	<div class="row">
		<div class="span12">
			<div class="btn-lights">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Item</th>
							<span class="label label-info">Work in progress.</span>
							<th>Action</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td><button class="span3 btn-primary disabled btn-large">Projector</button></td>
							<td><button class="btn btn-success btn-large"><i class="icon-white"></i>On</button></td>
							<td><button class="btn btn-danger btn-large"><i class="icon-white"></i>Off</button></td>				
						</tr>
						<tr>
							<td><button class="span3 btn-primary disabled btn-large">Projector Screen</button></td>
							<td><button class="btn btn-primary btn-large"><i class="icon-white icon-arrow-up"></i> Up</button></td>
							<td><button class="btn btn-primary btn-large"><i class="icon-white icon-arrow-down"></i> Down</button></td>
							<td><button class="btn btn-primary btn-large"><i class="icon-white icon-stop"></i> Stop</button></td>	
						</tr>
					</tbody>
	  </div>
  </div>
  <div>
  </body>
</html>
