<!DOCTYPE html>
<html>
<%= Time.now %>
  <head>
    <title>Cloverleaf Dashboard</title>
    <!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/css/lights.css" rel="stylesheet">
  </head>
  <body>
	  <div class="navbar">
	    <div class="navbar-inner">
	      <a class="brand" href="#">Cloverleaf Dashboard</a>
	      <ul class="nav">
			  <li class="divider-vertical"></li>
	        <li class="active"><a href="lights">Lights</a></li>
			<li class="divider-vertical"></li>
	        <li><a href="sensors">Sensors</a></li>
			<li class="divider-vertical"></li>
	        <li><a href="other">Other</a></li>
			<li class="divider-vertical"></li>
	      </ul>
	    </div>
	  </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<div class="row">
		<div class="span12">
			<div class="btn-lights">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>On</th>
							<th>Off</th>
							<th>Dim</th>
							<th>Status</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>

                        <td><button class="span3 btn-success btn-large" data-switch-uri="/api/kitchen/dim"><i class="icon-white icon-ok"></i> Kitchen</button></td>
							<td><button class="span3 btn btn-danger btn-large"><i class="icon-white icon-remove"></i> Kitchen</button></td>
							<td><a href="#" class="span3 btn btn-warning btn-large"><i class="icon-white icon-adjust"></i> Kitchen</a></td>
							<td><button class="btn-success btn-large">On</button></td>
						</tr>
						<tr>
							<td><button class="span3 btn btn-success btn-large"><i class="icon-white icon-ok"></i> Living Room</button></td>
							<td><button class="span3 btn btn-danger btn-large"><i class="icon-white icon-remove"></i> Living Room</button></td>
						    <td><a href="#" class="span3 btn btn-warning btn-large disabled"><i class="icon-white icon-adjust"></i> Living Room</a></td>
							<td><button class="btn-success btn-large">On</button></td>
						</tr>
						<tr>
							<td><button class="span3 btn btn-success btn-large"><i class="icon-white icon-ok"></i> Master Bedroom</button></td>
							<td><button class="span3 btn btn-danger btn-large"><i class="icon-white icon-remove"></i> Master Bedoom</button></td>
							<td><a href="#" class="span3 btn btn-warning btn-large"><i class="icon-white icon-adjust"></i> Master Bedroom</a></td>
							<td><button class="btn-danger btn-large">Off</button></td>
						</tr>
						<tr>
							<td><button class="span3 btn btn-success btn-large"><i class="icon-white icon-ok"></i> Hallway</button></td>
							<td><button class="span3 btn btn-danger btn-large"><i class="icon-white icon-remove"></i> Hallway</button></td>
							<td><a href="#" class="span3 btn btn-warning btn-large disabled"><i class="icon-white icon-adjust"></i> Hallway</a></td>
							<td><button class="btn-danger btn-large">Off</button></td>
						</tr>
						<tr>
							<td><button class="span3 btn btn-success btn-large"><i class="icon-white icon-ok"></i> Entrance</button></td>
							<td><button class="span3 btn btn-danger btn-large"><i class="icon-white icon-remove"></i> Entrance</button></td>
							<td><a href="#" class="span3 btn btn-warning btn-large"><i class="icon-white icon-adjust"></i> Entrance</a></td>
							<td><button class="btn-danger btn-large">Off</button></td>
						</tr>
					</tbody>
	  </div>
  </div>
  <div>
  </body>
</html>
