<!DOCTYPE html>
<html>
  <head>
    <title>Cloverleaf Dashboard</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/lights.css" rel="stylesheet">
  </head>

	<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
	<div class="row">
		<div class="span12">
			<div class="btn-lights">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><h4>On</h4></th>
							<th><h4>Off</h4></th>
							<th><h4>Dim <span class="label label-info">broken</span></h4></th>
							<th><h4>Status <span class="label label-info">broken</span></h4></th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
						<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/21%2016%2039%201/1/"> Master Bedroom</button></td>
						<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/21%2016%2039%201/0/"> Master Bedroom</button></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn span3 btn-warning btn-large dropdown-toggle" data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu pull-right" role="menu" >
									<li><a id="dimLight" href="#">25%</a></li>
									<li><a href="#">50%</a></li>
									<li><a href="#">75%</a></li>
									<li><a href="#">100%</a></li>
								</ul>
							</div>
								<td><button class="btn btn-large disabled">On</button></td>
						</td>
						</tr>

						<tr>
						<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/23 6A 9 1/1/"> Living Room</button></td>
						<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/23 6A 9 1/0/"> Living Room</button></td>
						<td>
							<div class="btn-group">
								<button type="button" class="span3 btn btn-warning btn-large dropdown-toggle disabled" data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu" role="menu">
									<li><a id="dimLight" href="#">25%</a></li>
									<li><a href="#">50%</a></li>
									<li><a href="#">75%</a></li>
									<li><a href="#">100%</a></li>
								</ul>
							</div>
							<td><button class="btn btn-large btn-inverse disabled">Off</button></td>
						</td>
						</tr>

						<tr>
						<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/21 12 BE 1/1/"> Second Bedroom</button></td>
						<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/21 12 BE 1/0/"> Second Bedroom</button></td>
						<td>
							<div class="btn-group">
								<button type="button" class="span3 btn btn-warning btn-large dropdown-toggle " data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu pull-right" role="menu">
									<li><a id="dimLight" href="#">25%</a></li>
									<li><a href="#">50%</a></li>
									<li><a href="#">75%</a></li>
									<li><a href="#">100%</a></li>
								</ul>
							</div>
							<td><button class="btn btn-large btn-inverse disabled">Off</button></td>
						</td>
						</tr>
					</tbody>
	  </div>
  </div>
  <div>
  <script src="/js/cloverleaf.js"></script>
</html>
