<!DOCTYPE html>
<html>
  <head>
    <title>Cloverleaf Dashboard</title>
    <!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/css/lights.css" rel="stylesheet">
  </head>
  <body>
	  <div class="navbar">
	    <div class="navbar-inner">
	      <a class="brand" href="#">Cloverleaf Dashboard</a>
	      <ul class="nav">
			  <li class="divider-vertical"></li>
	        <li class="active"><a href="lights">Lights</a></li>
			<li class="divider-vertical"></li>
	        <li><a href="sensors">Sensors</a></li>
			<li class="divider-vertical"></li>
	        <li><a href="blinds">Blinds</a></li>
			<li class="divider-vertical"></li>
			<li><a href="settings">Settings</a></li>
			<li class="divider-vertical"></li>
	      </ul>
	    </div>
	  </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<div class="row">
		<div class="span12">
			<div class="btn-lights">
				<table class="table table-striped dashboard">
					<thead>
						<tr>
							<th><h3>On</h3></th>
							<th><h3>Off</h3></th>
							<th><h3>Dim <span class="label label-info">broken</span></h3></th>
							<th><h3>Status <span class="label label-info">broken</span></h3></th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
						<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/21%2016%2039%201/1/"> Master Bedroom</button></td>
						<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/21%2016%2039%201/0/"> Master Bdroom</button></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn span3 btn-warning btn-large dropdown-toggle" data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu pull-right" role="menu" >
									<li><a id="dimLight" href="#">25%</a></li>
									<li><a href="#">50%</a></li>
									<li><a href="#">75%</a></li>
									<li><a href="#">100%</a></li>
								</ul>
							</div>
								<td><button class="btn btn-large disabled">On</button></td>
						</td>
						</tr>

						<tr>
						<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/23 6A 9 1/1/"> Living Room</button></td>
						<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/23 6A 9 1/0/"> Living Room</button></td>
						<td>
							<div class="btn-group">
								<button type="button" class="span3 btn btn-warning btn-large dropdown-toggle disabled" data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu" role="menu">
									<li><a id="dimLight" href="#">25%</a></li>
									<li><a href="#">50%</a></li>
									<li><a href="#">75%</a></li>
									<li><a href="#">100%</a></li>
								</ul>
							</div>
							<td><button class="btn btn-large btn-inverse disabled">Off</button></td>
						</td>
						</tr>

						<tr>
						<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/21 12 BE 1/1/"> Second Bedroom</button></td>
						<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/21 12 BE 1/0/"> Second Bedroom</button></td>
						<td>
							<div class="btn-group">
								<button type="button" class="span3 btn btn-warning btn-large dropdown-toggle " data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu pull-right" role="menu">
									<li><a id="dimLight" href="#">25%</a></li>
									<li><a href="#">50%</a></li>
									<li><a href="#">75%</a></li>
									<li><a href="#">100%</a></li>
								</ul>
							</div>
							<td><button class="btn btn-large btn-inverse disabled">Off</button></td>
						</td>
						</tr>
					</tbody>
	  </div>
  </div>
  <div>
  <script src="/js/cloverleaf.js"></script>
  </body>
</html>
