<!-- include bootstrap and jquery -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">Cloverleaf Dashboard</a>
				<ul class="nav">
					<li class="divider-vertical"></li>
						<% if request.path_info == "/lights" %>
							<li class="active"><a href="/lights">Lights</a></li>
						<% else %>
							<li><a href="/lights">Lights</a></li>
							<li class="divider-vertical"></li>
						<% end %>

						<% if request.path_info == "/sensors" %>
							<li class="active"><a href="/sensors">Sensors</a></li>
						<% else %>
							<li><a href="/sensors">Sensors</a></li>
							<li class="divider-vertical"></li>
						<% end %>
	
						<% if request.path_info == "/ir" %>
							<li class="active"><a href="/ir">IR</a></li>
						<% else %>
							<li><a href="/ir">IR</a></li>
							<li class="divider-vertical"></li>
						<% end %>
	
						<% if request.path_info == "/settings" %>
							<li class="active"><a href="/settings">Settings</a></li>
						<% else %>
							<li><a href="/settings">Settings</a></li>
							<li class="divider-vertical"></li>
						<% end %>
	      		</ul>
	</div>
</body>