<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="/settings/keys">Keys</a></li>
			<li><a href="/settings/devices">Devices</a></li>
			<li><a href="/settings/routers">Routers</a></li>
		</ul>
	</div>
</div>