<html>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/test.js"></script>
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/css/lights.css" rel="stylesheet">
<!--<div class="btn-group">
  <button type="button" class="btn btn-warning btn-large dropdown-toggle " data-toggle="dropdown">
    Dim <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a id="alertMe" href="#">Action</a></li>
    <li><a href="#">50%</a></li>
	<li><a href="#">75%</a></li>
	<li><a href="#">100%</a></li>
  </ul>
</div>-->
</html>